
/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
 margin: 0;
 padding: 0;
 font-family: 'Open Sans', sans-serif
}

.nav { 
    position: fixed;
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.nav img { 
    width: 140px;
    margin: 15px;
}

.nav ul { 
    display: flex; 
    justify-content: space-between;
    list-style-type: none;
}

.nav ul > li {
    margin: 15px;
}

.mainImage { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: 900px;
    width: 100%;
}

.mainImage > h1 { 
    color: white;
    display: block;
    margin-bottom: 20px;
    font-size: 5rem;
    font-weight: 2rem;

}

.mainImage >  p{
    text-align: center;
    color: white;
    font-size: 28px;
}

.Container { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Container h2 { 
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: #00B172;
    padding: 2%;
    margin: 60px 0 0 0;
}

.mainContent { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 600px;
}

.mainContent > div { 
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top:90px;
    margin-left: 100px;
    margin-right: 50px; 
    text-align: center;
}


.mainContent div > h3 {
    color: #00B172 ;
    margin: 20px 0  20px 0;
    font-size: 20px;
   
}

.mainContent div > p {
    font-size:15px;
   
}

#picMain {
   height: 140px;
   width: auto;
}


.lastExample { 
    height: 600px;
    width: 90%; 
    background: url(../images/spotify-icon-white.png) no-repeat;
    background-size: 130px;
    background-position: center;
    background-color: #00B172;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}



.secContainer p {
    width: 50%;
    text-align: center;
}

#picSpot {
    width:350px;
    height: 500px;
}



